* {
    box-sizing: border-box;
}
body {

    font-family: 'Montserrat', sans-serif;
    width: 1728px;
    margin: 0 auto;
}

.container {
    width: 1440px;
    margin: 0 auto;
    
}
.menu__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 22px;
    
}
.logo {
    margin-right: 585px;
}
.nav {
    display: flex;
    list-style: none;
    font-size: 19px;
    font-weight: 400;
    padding-left: 0;
    
  
}
a.nav__link {
    margin-right: 55px;
    text-decoration: none;
    color: black;
}

a.btn {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;
    border: 1px solid black;
    padding: 18px 42px;
    color: black;

}

.select {
    background-color: yellow;
    width: 1728px;
}
.select__car {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
}


a.btn__select {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    border-radius: 40px;
    padding: 14px 32px;
    background-color: white;
    text-transform: capitalize;

}
.contact__select {
    display: flex;
}

a.whatsapp {
    display: flex;
    height: 42px;
    margin-right: 56px;
}


/* Services
============*/

.services__home {
    text-align: center;
    margin: 95px 0 55px;
}

h2.title {
    margin-top: 0;
    margin-bottom: 70px;
    text-align: center;
    font-weight: 600;
    font-size: 66px;
    text-transform: capitalize;
}

a.btn__service {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgba(233, 231, 67, 1);
    border-radius: 40px;
    padding: 14px 32px;
    background-color: rgba(245, 245, 245, 1);
    text-transform: capitalize;
}

.services__img {
    margin-top: 80px;
}

/* service partners
===================*/

.service__partners {
    height: 430px;
    background-color: rgba(244, 244, 244, 1);
}
.service__partners
.container {
  padding-top: 70px;
}

.partners__title {
    text-transform: capitalize;
    font-size: 46px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;
}


.partners {
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;
}

.partners__item {
    margin-right: 90px;
}
.partners__item:last-child {
    margin-right: 0;
}

/*service about
================*/

.about__service {
    text-align: center;
    justify-content: center;
    margin-top: 60px;
}
.about__service-img {
    margin: auto;
    position: relative;
    padding-left: 80px;
    margin-top: 30px;
}
h2.suptitle__about {
    font-weight: 500;
    margin-top: -270px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 46px;
    text-transform: capitalize;
}
h3.about__title {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: capitalize;

}
h2.about__text:before {
content: "-";
margin-right: 5px;
height: 2px;
width: 14px;

}

h2.about__text {
    margin-left: 15px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}

.questions {
    display: flex;
    margin-bottom: 125px;
}

.list__questions {
    width: 33.333%;
    padding: 0 40px;
}

h3.questions__number {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 60px;
    text-transform: capitalize;
}

h4.questions__title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 22px;
    margin-top: 0;
    text-transform: capitalize;
}




.questions__text {
    width: 406px;
    font-size: 26px;
    font-weight: 300;
    text-transform: capitalize;
}

/* company
==========*/

.company {
    height: 718px;
    background-color: rgba(240, 242, 244, 1);
}

.company
.container {
    padding-top: 106px;
    padding-bottom: 245px;
}

.companu__over {
    text-align: center
}

h2.company__title {
    font-size: 46px;
    font-weight: 500;
    margin: 0 auto;
    padding-bottom: 80px;
    text-transform: capitalize;

}
.service__item {
    width: 227px;
    height: 227px;
    background-color: rgba(255, 255, 255, 1);
    justify-content: space-between;
    display: inline-block;
    margin-right: 11px;
    
}

.service__item:last-child {
    margin-right: 0;
}
.item__service-job {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
}
/* Service */



.service { 
    margin-top: 170px;
    margin-bottom: 114px;
}
.service__title {
font-size: 46px;
font-weight: 500;
text-align: center;
margin-bottom: 88px;
text-transform: capitalize;

}

.services__item {
    display: flex;
    flex-wrap: wrap;
}

.service__list {
    width: 342px;
    height: 378px;
    border: 1px solid rgba(33, 53, 70, 0.4);
    margin-bottom: 26px;
    margin-right: auto;
}

.service__icon {
    padding-left: 40px;
    padding-top: 52px;

}
.service__number {
    font-size: 32px;
    font-weight: 400;
    color: rgba(229, 229, 229, 1);
    padding-top: 52px;
    padding-right: 30px;
    margin: 0 auto;
    float: right;
}
.service__subtitle {
    font-size: 32px;
    font-weight: 400;
    padding-left: 40px;
    height: 60px;
    width: 260px;
}
.button__level {
    margin-top: 45px;
}

.btn__grey {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 13px 53px;
    background-color: rgba(245, 245, 245, 1);
    border: 2px solid rgba(233, 231, 67, 1);
    border-radius: 10px;
    margin-left: 40px;
    color: black;
}

/* trademark */

.trademark {
    background-color: rgba(240, 242, 244, 1);
    padding-top: 164px;
    padding-bottom: 155px;
}

h3.trademark__title {
    font-size: 46px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 88px;
    margin-top: 0;
}
.trademark__inner {
    display: flex;
    flex-wrap: wrap;
}
.trademark__block {
    width: 33.33%;
    text-align: center;
}

.trademark__white-block {
    background-color: white;
    width: 464px;
    height: 256px;
    position: absolute;
}

.trademark__img {
    position: relative;
    bottom: 0;
    top: 66px;
}

.text__trademark {
    padding: 0 40px;
    text-transform: capitalize;
    margin-top: 35px;
    text-align: start;

}

h2.trademark__suptitle {
    padding-top: 13px;
    padding-bottom: 12px;
    font-size: 32px;
    font-weight: 400;
    margin: 0 auto;
}

h4.trademark__text {
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    
}
/* Achieved */

.achieved {
    margin-top: 170px;
    margin-bottom: 63px;
}

.achieved
.container {
margin: auto 0;
}

.achieved__title {
    font-size: 46px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 114px;
    margin: 0 auto;
    
}

.achieved__grid {
    display: flex;
    flex-direction: row;
}
.achieved__left {
    display: flex;
    margin-right: 140px;
}


h4.text__achieder {
    font-size: 26px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    width: 550px;
    margin-bottom: 42px;
    margin-top: 0;

}


h2.desc1 {
    font-size: 32px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    margin-left: 25px;
    padding: 30px;
    min-inline-size: max-content;
}

h2.desc2 {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    display: inline-block;
    font-weight: 400;
    margin-left: 35px;
    padding: 30px;
}

h2.desc3 {
    font-size: 32px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    margin-left: 35px;
    padding: 30px;
    min-inline-size: max-content;
}

.strong {
    font-size: 42px;
    font-weight: 700;
}

.row__achieved {
    margin-bottom: 76px;
    display: flex;
}

/* Process */ 

.left__process {
    width: 706px;
    display: flex;
    flex-flow: wrap;
    margin-left: 23px;
}

.process {
    background-color: rgba(240, 242, 244, 1);
    padding-top: 107px;
    padding-bottom: 78px;
}

.process__title {
    font-size: 46px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 104px;
    margin: 0 auto;
}

.step__process {
    display: flex;
    margin-bottom: 80px
}

.left__inner {
    
    width: 335px;
    height: 335px;
    background-color: rgba(255, 255, 255, 1);
    margin: 0 18px 21px 0;
}

.number__step {
    margin: 0 auto;
    font-size: 81px;
    font-weight: 400px;
    color: rgba(229, 229, 229, 1);
    padding: 41px 0 59px 35px;
}

.text__process {
    font-size: 24px;
    font-weight: 400;
    padding-left: 35px;
    padding-right: 56px;
}

.right__process {
    width: 688px;
    height: 691px;
    background-color: rgba(255, 255, 255, 1);
}
.right__inner {
    text-align: center;
}
.right__subtitle {
    font-size: 46px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 18px;
}
.right__text {
    font-size: 36px;
    font-weight: 400;
    margin: 0 auto;
    padding-bottom: 61px;
    
}

input {
    width: 610px;
    height: 114px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 9px;
    margin-bottom: 44px;
}

.button__goservice {
    background-color: rgba(245, 245, 245, 1);
    width: 610px;
    height: 114px;
    border: 1px solid rgba(233, 231, 67, 1);
    border-radius: 9px;
    margin: 0 auto;
}

.btn__go {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    padding-right: 18.33px;
  
}

.minusiplius {
    padding-top: 37px;
}

.button__black {
    width: 224px;
    height: 70px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4)), linear-gradient(0deg, #E5E5E5, #E5E5E5);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    margin: 0 auto;
    padding-top: 18px;
    
}
.btn__back {
    font-size: 26px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding-left: 48px;
    color: black;
}

/* footer */

.footer {
    background-color: rgba(31, 31, 31, 1);
    height: 568px;
}

.title__contact {
    text-align: start;
    padding-top: 93px;
    color: rgba(255, 255, 255, 1);
    font-size: 46px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: underline;
}

.contact__service {
    display: flex;
    flex-flow: wrap;
}

.left__contact {
    width: 758px;
    margin-right: 204px;
    margin-top: 40px;

} 
h3.contact__about {
    color: rgba(255, 255, 255, 1);
    font-size: 46px;
    font-weight: 400;
    margin-top: 0;
    text-transform: capitalize;
}
h4.adress__service {
    font-size: 34px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-transform: capitalize;
    margin-top: 0;
}

span {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.right__contact {
    margin-top: 30px;
}
.number__service__email {
    color: rgba(255, 255, 255, 1);
    font-size: 34px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: capitalize;
}

p {
    margin: 0 auto;}



ul.social {
    padding-left: 0;
    display: flex;
    margin-top: 0;
    list-style-type: none;
}
    
li.social__item {
    background-color: rgba(196, 196, 196, 1);
    border-radius: 45px;
    height: 75px;
    width: 75px;
    padding: 20px 20px;
    margin-right: 18px;
}
    
    .social__link:hover{
        fill: #E67E22;
    }
    .social__icon{
        fill: inherit;
        height: 35px;
        width: 35px;
        transition: .2s;
    }

    /* Burger */
    .burger {
        display: none;
        padding: 9px 2px;
        background: none;
        border: 0;
        cursor: pointer;
    }
    .burger__item {
        display: block;
        width: 30px;
        height: 3px;
        background: #3d3131;
        font-size: 0;
        color: transparent;
        position: relative;
    }

    .burger__item:before,
    .burger__item:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #3d3131;
        position: absolute;
        right: 0;
        z-index: 1;
    }
    .burger__item:before {
        width: 30px;
        top: -8px;
    }

    .burger__item:after {
        width: 30px;
        bottom: -8px;
    }

    /* Media
    =================*/

@media only screen and (max-width:1200px){
    
}

    @media (max-width: 768px) {

        /* Nav */
        .nav {
            display: none;
        }

        /* Burger */
        .burger {
            display: block;
        }

        .company .container {
            padding-top: 55px;}
            
        .companu__over {
            width: 80%;
            margin: 20px auto;}
            .service__item {
                margin-bottom: 30px;
            }
        .service {
            width: 80%;
        margin: 70px auto;
        }
    }
        @media (max-width: 480px) {
            
    .img {
        max-width: 553px;
        margin-left: -1158px;

    }
    .service {
        width: 50%;}

   .questions {
    display: contents;
    width: 33.3333%;
    margin: 0 auto;
   }
       .trademark__block {
    place-self: center;}

    .list__questions {
        margin: 20px auto;
        text-align: -webkit-center; 
    }
    
    .trademark__inner {
        display: grid;}
    .trademark__block {
            padding-bottom: 30px;}
    .step__process {
                flex-direction: column;
                align-items: center;
            }
        


}

       



    
        
    
    
    